@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageData["Title"] = "Administrators only";
}

@if (Roles.IsUserInRole("admin"))
{
    <span> Welcome <b>@User.Identity.Name</b>! </span>
}
else
{
  Response.Redirect("~/AdminError");
}
