@model JovenesA.Models.AdminsViewModel
@{
    ViewBag.Title = "Admins";
}
@section scripts
{

  <script>
    console.log('hi from admins.cshtml');
        System.import('admins-app/main')
          .catch(function (e) {
            console.error(e,
              'Report this error at https://github.com/mgechev/angular2-seed/issues');
          });
  </script>

}

<div class="span12">
  <div class="whity content">
    <!-- Main Content Starts Here -->
    <div class="whity content">
      <sd-app>Loading...</sd-app>
    </div>


    <div class="container">
      <router-outlet></router-outlet>
    </div>


    <!-- Main Content Ends Here -->
  </div>
</div>
