@{
  ViewBag.Title = "Home Page";
}
@section Scripts {

<script>
    console.log('hi from cshtml');
        System.import('app/main')
          .catch(function (e) {
            console.error(e,
              'Report this error at https://github.com/mgechev/angular2-seed/issues');
          });
</script>

}
  


<div class="row">
  <div class="col-md-12">
    Welcome to the Jovenes Adelante Members website. Please select your role above (Admin, Mentor or Volunteer) to begin.
  </div>
  <sd-app>LoadingYYY...</sd-app>
</div>